/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222222;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

#chat_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 1.5rem;
  scroll-behavior: smooth;
}

/* hides scrollbar in webkit-based browsers */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 1rem;
}

.bot {
  background-color: #40414f;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.8rem;
}

.chat__profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background-color: #2c96cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot .chat__profile {
  background: #10a37f;
}

.chat__profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.chat__message {
  flex: 1;
  color: #f7f1ff;
  font-size: 1rem;
  max-width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar in webkit-based browsers */
.chat__message::-webkit-scrollbar {
  display: none;
}

form {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  background: #363537;
}

textarea {
  width: 100%;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}
